.business-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: calc(100vh - 70px);
}

.form-container {
  width: 300px
}

.form-container > * {
  margin-bottom: 1rem;
}
