.business-style {
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  padding: 0 20px;
  margin: auto;
  margin-top: 1rem;
}

.styles-logos-container {
  padding: 1rem;
}
